<input type="${@this@.attribute.type}$" class="${@this@.attribute.class}$" id="${@this@.attribute.id}$"
       name="${@this@.attribute.name}$"
       dr-on-init="@this@.element=$element"
>#innerHTML#
<!--        dr-attr="{value: @this@.name}"-->
<!--       dr-attr="@this@.attribute"-->
<!--       dr-attr="@this@.attribute"-->
<!--       dr-attr="{value: @this@.name}"-->
<!--       dr-attr="{value: @this@.name}"-->
<!--[[${@this@.wow?.value}$]]_-->
<!--[[${@this@.attribute?.value}$]]-->
<!--<button dr-event-click="@this@.name = new Date().toString()">ccccc${@this@.name}$ccccccccc</button>-->