<details dr-class="{
        'dr-select-container': true,
        'is-open': @this@.isOpen,
        [@this@.classAttr]: @this@.classAttr
     }" dr-on-init="@this@.onInitDetailsElement($element)" dr-option-complete="@this@.test()"  dr-event-toggle="@this@.toggle($element, $event)">

    #innerHTML#
</details>
<select hidden="hidden" name="${@this@.name}$" disabled="${@this@.disabled ? 'disabled' : null}$"  style="width: 1500px; height:500px"  multiple>
    <option dr-for-of="@this@.options" value="${#it#.value}$" selected="${#it#.selected ? 'selected' : null}$">#it# ${#it#.value}$</option>
</select>
