<main>
<!--    <dr-for-of value="${@this@.user}$">-->
<!--        <div>asdas${#it#}$</div>-->
<!--        <dc-asd asd-asd="ww" ww:aa="zz">asdasd</dc-asd>-->
<!--        <dasd:ww asd:vv="ee" dd>asdsad</dasd:ww>-->
<!--    </dr-for-of>-->
<!---->
<!--    <div dr-for-of="@this@.user">-->
<!--&lt;!&ndash;        asdas${#it#}$d&ndash;&gt;-->
<!--        asdas${#it#}$d-->
<!--    </div>-->
    <dr-a dr-for-of="@this@.user" href="${'/@dooboostore/'+#it#.name}$"  class="sidebar-item">${#it#}$</dr-a>
<!--    <dr-this value="${@this@.child}$"></dr-this>-->
</main>