<input type="${@this@.getAttribute('type')}$" class="${@this@.getAttribute('class')}$" id="${@this@.getAttribute('id')}$"
       name="${@this@.getAttribute('name')}$"
       dr-on-init="@this@.element=$element"
>#innerHTML#
<!--        dr-attr="{value: @this@.name}"-->
<!--       dr-attr="@this@.attribute"-->
<!--       dr-attr="@this@.attribute"-->
<!--       dr-attr="{value: @this@.name}"-->
<!--       dr-attr="{value: @this@.name}"-->
<!--[[${@this@.wow?.value}$]]_-->
<!--[[${@this@.attribute?.value}$]]-->
<!--<button dr-event-click="@this@.name = new Date().toString()">ccccc${@this@.name}$ccccccccc</button>-->