
.skeleton {

}

.skeleton.wave {
    animation: wave 1.5s infinite ease-in-out;
    background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
    background-size: 200% 100%;
}
.skeleton.pulse {
    animation: pulse 1.5s infinite ease-in-out;
    background-color: #c9c9c9;
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: -200%;
  }
}